body{
    background-color: antiquewhite;
}
h1 {
padding-bottom: 20px;
}
h2 {
padding-bottom: 20px;
}
.header{
    width: 50%;
    margin: auto;
    padding-top: 5px;
    background-color: lightgray;
    text-align: center;
    color: darkblue;
    border-radius: 10px;
}

.Faculties{
width: 50%;
padding-top: 5px;
margin: auto;
    background-color:darkgray;
    text-align: center;
    border-radius: 10px;
}

.dept{
   width: 50%;
   font-size: 20px;
   text-align: center;
   background-color:khaki;
   margin: auto;
   border-radius: 10px;
}

.mr2{
padding-bottom: 20px;
}

.image {
width: 300px;
height: 350px ;
padding-top: 20px;
border-radius: 10px;
}

.pdf{
padding-bottom: 20px;
font-size: 20px; 
}

#About{
background-color: rgb(53 14 159 / 14%);
font-size: 20px;
line-height: 1.33;
padding: 20px;
border-radius: 10px;
}

#bottomnav{
    background-color: white;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}